.cube{
    margin: 200px;
    height: 200px;
    width: 200px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: rotatex(25deg) rotatey(-25deg);
    animation: photo 6s linear   infinite;
}
.face{
    height: 100%;
    width: 100%;
    position:absolute ;
    /* transition: all 3s ; */
}
@keyframes photo{
    0% {
        transform: rotateX(-15deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(-15deg) rotateY(360deg) rotatez(360deg) ;
    }
}
#one{
    background-color: orange;
}
#two{
    background-color: red;
    transform: rotatey(90deg) translatez(-100px) translatex(-100px) ;
}
#three{
    background-color: blue;
    transform: rotatex(90deg) translatez(-100px) translatey(100px);
}
#four{
    background-color: pink;
    transform: rotatey(-90deg) translatex(100px) translatez(-100px);
}
#five{
    background-color: rgb(253, 205, 255);
    transform: rotatex(-90deg) translatey(-100px) translateZ(-100px);
}
#six{
    background-color: blueviolet;
    transform: translateZ(200px);
}
.cube:hover{
    transform: rotate3d(10, 15, 10, 180deg);
    transition: all 4s ;
}
img{
    height: 100%;
    width: 100%;
}
/* #one two three four five six:hover{

} */